
@model StudentCrudOperation.Models.Login
@{
    ViewBag.Title = "Login";
}

<div style="justify-content:center" class="card">
    <div class="col-md-7" style="margin-left:28%">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1 class="h3 mb-3 fw-normal" style="margin-left:26%"><b>Please sign in</b></h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group form-floating">
                    @Html.LabelFor(m => m.Email, "Email:", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        <small>  @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", @style = "position:absolute" })</small>
                    </div>
                </div>
                <div class="form-group form-floating">
                    @Html.LabelFor(m => m.Password, "Password:", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        <small>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", @style = "position:absolute" })</small>
                    </div>
                </div>
                <div class="form-group form-floating">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-success" style="margin-left:19%" />
                    </div>

                </div>
                <div class="form-group form-floating">
                    <div class="col-md-offset-2 col-md-10">
                        <a style="margin-left:15%; cursor:pointer" href="/Account/ForgotPassword">Forgot password?</a>
                    </div>
                    <div id="message" style="margin-left:15%;color:red"></div>
                </div>
            }
        </section>
    </div>
</div>
@ViewBag.Message;

